@use '../../sass/' as *;

.dropdown{
    color: $main-color;
    font-size: 2rem;
    @include mobile{
        font-size: 1.4rem
    }
    @include flex(center,flex-start);
    & > * ~ *{
        margin-right: 2rem;
    }
    &__select{
        position: relative;
        margin-left: 2rem;
        @include mobile{
            margin-left: 1rem;
        }
        &__display{
            padding: 1rem;
            background-color: transparent;
            border-radius: 1rem;
            border: 1px solid $main-color;
            position: relative;
            width: 20rem;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: capitalize;
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                right: 2%;
                transform: translate(-50%,-15%);
                border-width: 0.8rem;
                border-style: solid;
                border-color: transparent;
                border-top-color: $main-color;
                border-radius: 5px;
            }
            @include mobile{
                width: 10rem;
            }
        }
        &__dropdown{
            width: 100%;
            position: absolute;
            top: 4.5rem;
            right: 0;
            background-color: $main-bg;
            border-radius: 1rem;
            border: 1px solid $main-color;
            padding: 1rem 0;
            &__option{
                text-transform: capitalize;
                transition: all 0.3s ease;
                padding: .4rem 1rem;
                font-size: 1.5rem;
                &:hover{
                    cursor: pointer;
                    background-color: $main-color;
                    color: $white;
                    border-radius: 1rem;
                }
            }
        }
    }        
}
