@use '../../sass/' as *;

.tab-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__header{
        flex: 0 1 auto;
        @include flex(center,space-between);
        & > h1{
            font-weight: 700;
            text-transform: capitalize;
        }
        & > span{
            color: rgba($color: $black, $alpha: 0.5);
            font-size: 1.5rem;
            text-transform: capitalize;
        }
    }
    &__body{
        flex : 1 1 auto;
        overflow: overlay;
        display: grid;
        grid-template-columns: repeat(2 , minmax(0,1fr));
        gap: 2rem;
        justify-content: center;
        align-content: flex-start;
        padding: 1.5rem;
        @include desktopLg{
            grid-template-columns: repeat(1 , minmax(0,1fr));
        }
    }
}