@use '../../sass/' as *;


.swal_container_popup {
    background-color: rgba($color: $main-color, $alpha: 0.4) !important;
    border-radius: 1rem !important;
    box-shadow: rgb(255, 255, 255) 0px 2px 6px 0px !important;
    
}

.swal_title_popup {
    color: $white !important;
    font-size: 1.8rem !important;
}