@use '../../sass/' as *;

.detail-order{
    min-height: fit-content;
    min-width: 60%;
    &__header{
        font-weight: 800;
        font-size: 2.5rem;
        @include mobile{
            font-size: 1.4rem;
        }
        & > span{
            color: $main-color;
        }
        text-align: start;
    }
    &__staff{
        & > h3{
            font-size: 2.2rem;
            @include mobile{
                font-size: 1.4rem;
            }
            color: rgba(117, 117, 117, 0.5);
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                background-color: rgba(117, 117, 117, 0.5);
            }
            text-align: start;
        }
        &__info{
            margin-top: 2rem;
            @include flex(center,null);
            text-align: start;
            & > :first-child{
                width: 50%;
                & > * ~ * {
                    margin-top: 1rem;
                }
                & > div {
                    line-height: 1.8rem;
                    & > p {
                        font-size: 1.2rem;
                        color: rgba(117, 117, 117, 0.5);
                    }
                    & > h4{
                        font-size: 1.6rem;
                        text-transform: capitalize;
                    }
                }
            }
            &__img{
                flex: 1;
                @include flex(center,center);
                height: 12rem;
                & > img{
                    width: 12rem;
                    border-radius: 50%;
                    height: 100%;
                    border: 1px solid gray;
                }
            }
        }
    }
    &__invoice{
        & > h3{
            text-align: start;
            font-size: 2.2rem;
            @include mobile{
                font-size: 1.4rem;
            }
            color: rgba(117, 117, 117, 0.5);
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                background-color: rgba(117, 117, 117, 0.5);
            }
        }
        &__info{
            margin-top: 2rem;
            @include flex(center,space-between);
            &__issued{
                & > p {
                    font-size: 1.2rem;
                    color: rgba(117, 117, 117, 0.5);
                }
                & > h4{
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    @include mobile{
                        font-size: 1.2rem
                    }
                }
            }
            &__payment{
                @include flex(center,center);
                @include mobile{
                    flex-direction: column;
                }
                & > h4 {
                    font-size: 1.6rem;
                    @include mobile{
                        font-size: 1.3rem;
                    }
                }
                & > div{
                    border-radius: 1rem;
                    padding: 0 1.6rem;
                    height: 4rem;
                    color: $white;
                    &.cash{
                        background-color: $green;
                    }
                    &.e-wallet{
                        background-color: #56C3C9;
                    }
                    @include flex(center,center);
                    font-size: 1.4rem;
                    margin: 0 2rem;
                    @include tablet{
                        padding: 0 0.7rem;
                    }
                    @include mobile{
                        height: 2rem;
                        padding: 0 0.4rem;
                        font-size: 1rem;
                        border-radius: 0.5rem;
                        margin: 0 0.5rem;
                    }
                }
            }
        }
       

        & > table{
            width: 100%;
            margin-top: 1rem;
            thead,tbody,tfoot,tr,td{
                display: block;
            }
            & > thead{
                & > tr {
                    display: flex;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    align-items: center;
                    & > th:first-child{
                        text-align: start;
                        @include tablet{
                            text-align: center;
                        }
                    }
                    & > th:last-child{
                        text-align: end;
                    }
                    & > th{
                        width: 20%;
                        text-align: center;
                        float:left;
                        padding: 1rem;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #B7B8BB;
                        @include tablet{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
           
            & > tbody{
                height: 12rem;
                @include mobile{
                    height: 6rem;
                }
                overflow-y: overlay;
                
                width: 100%;
                & > tr{
                    text-align: center;

                    display: flex;
                  
                    & > td{
                        text-transform: capitalize;
                        width: 20%;
                        word-break: break-word;
                        float: left;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $black;
                        @include tablet{
                            font-size: 1.1rem;
                            & > div.price{
                                font-size: 1.1rem;
                            }
                        }
                        @include mobile{
                            font-size: 1rem;
                            & > div.price{
                                font-size: 1rem;
                            }
                        }
                    }
                    & > td:first-child{
                        text-align: start;
                        @include tablet{
                            text-align: center;
                        }
                    }
                    & > td:last-child{
                        text-align: end;
                        @include tablet{
                            text-align: center;
                        }
                    }
                }
            }
            & > tfoot{
                & > tr{
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #ddd;

                    & > td:first-child{
                        text-align: start;
                    }
                    & > td:last-child{
                        text-align: end;
                    }
                    & > td{
                        padding: 1rem;
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: $black;
                    }
                }
                @include mobile{
                    & > tr > td{
                        font-size: 1.2rem !important;
                        & > div.price{
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            & >  tfoot:nth-child(5),tfoot:nth-child(6),tfoot:last-child{
                & > tr{
                    border-bottom: 1px solid #ddd;

                    & > td{
                        font-size: 2rem;
                        
                    }
                } 
            }
           
           
        }
    }
   
}

