@use '../../sass/' as *;

.card-staff{
    padding: 1rem 2rem;
    @include flex(center,space-between);
    border: 1px solid $main-color;
    border-radius: 1rem;
    
    &__info{
        @include flex(center,null);
        & > img{
            width: 5rem;
            height: 5rem;
            border-radius: 0.4rem;
            @include desktop{
                width: 3.5rem;
                height: 3.5rem;
            }
        }
        &__about{
            margin-left: 2rem;
            & > h3{
                color: rgba($color: $black, $alpha: 0.2);
                @include desktop{
                    font-size: 0.8rem;
                }
            }
            & > h2{
                color: $black;
                @include desktop{
                    font-size: 1rem;
                }
            }
        }
    }

   
    &__noti{
        font-family: 'Oleo Script Swash Caps', cursive;
        font-weight: 700;
        color: $main-color;
        border: 2px solid $main-color;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        & > p{
            font-size: 2.4rem;
        }
        @include flex(center,center);
        @include desktop{
            display: none;
        }
    }
}