@use '../../sass/' as *;

.box-amount{
    padding: 2rem;
    &__header{
        @include flex(center,space-between);
        &__title{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 2rem;
            @include mobile{
                font-size: 1.5rem;
            }
        }
        &__percent{
            @include flex(center,flex-start);
            &__item{
                font-size: 1.2rem;
                @include tablet{
                    font-size: 1rem;
                }
                @include flex(center,flex-end);
                & >  * ~ *{
                    margin-left: 0.4rem;
                }
            }
        }
    }
    &__body{
        @include flex(center,flex-start);
        height: 7rem;
        &__icon{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            @include flex(center,center);
            font-size: 2rem;
            color: $white;
            margin-right: 1.5rem;
        }
        &__amount{
            font-size: 2rem;
            font-weight: 700;
            @include desktopLg{
                font-size: 3rem;
            }
            @include desktop{
                font-size: 2rem;
            }
        }
        &__cash-banking{
            flex: 1;
            font-weight: 600;
            & > div{
                @include flex(center,flex-start);
                font-size: 1.5rem;
                & > span{
                    width: 27%;
                }
                @include mobile{
                    font-size: 1.2rem;
                    & > div.price{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}